.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 14px solid;
  border-image: url("/border-avatar.png") 14 fill;
  height: 68px;
  width: 68px;
  font-size: 0.8em;
  font-family: client-bold-mono;
}
