@font-face {
  font-family: client-bold;
  src: url("/bold.ttf") format("truetype");
}

@font-face {
  font-family: client-bold-mono;
  src: url("/bold-mono.ttf") format("truetype");
}

@font-face {
  font-family: client-thin;
  src: url("/thin.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: client-thin;
  font-size: 24px;
  color: white;
  min-height: 100vh;
  background: url("/bg.png") repeat;
  background-size: 8px;
  image-rendering: pixelated;
  animation-name: background-loop;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes background-loop {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 8px 0px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a.disabled {
  color: #fff !important;
  opacity: 0.7;
  text-decoration: none !important;
  pointer-events: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 2px;
}

pre {
  font: inherit;
  white-space: pre-line;
}

.input-row {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.input-row > a {
  align-self: flex-end;
}

.input-row > * {
  align-self: stretch;
}

input[type="text"],
input:not([type]) {
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

select,
input[type="text"],
input:not([type]) {
  font-size: 14px;
}

.table-list {
  width: fit-content;
  margin-left: 16px;
}

td {
  height: 1px;
}

td > * {
  height: 100%;
}

.error {
  color: #ff3d3d;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-family: client-bold;
  margin-bottom: 0.5rem;
  margin-left: -2px;
}

h1 {
  font-size: 40px;
}

h2,
h3,
h4,
h5 {
  font-size: 30px;
}

iframe {
  border: 0;
}
