.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.main_preview {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  padding: 4px;
}

.main_preview > img {
  max-width: 100%;
  height: unset;
}

.left_arrow,
.right_arrow {
  background: none;
  border: none;
  color: white;
  font: inherit;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  width: calc(max((100% - 480px) / 2, 64px));
  height: 100%;
  text-shadow: #777 2px 2px;
}

.left_arrow {
  position: absolute;
  left: 0;
}

.right_arrow {
  position: absolute;
  right: 0;
}

.preview_list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* margin-top: 4px; */
  background-color: #0005;
}

.preview_list img {
  display: block;
}

.preview_list > * {
  position: relative;
  margin: 2px;
  cursor: pointer;
}

.active_preview_item {
  outline: 2px solid white;
}

.play_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000a;
  color: white;
}

.links_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  justify-content: space-evenly;
  text-align: center;
  margin: calc(0.5em) 0;
}

.itch {
  text-align: center;
  margin: 8px 0;
}
