.layout {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.navbar {
  font-family: client-bold;
  font-size: 20px;
  text-shadow: 2px 2px #21738c;
  color: white;
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-width: none;
  user-select: none;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.links > * {
  background-image: url("/folder.png");
  font-size: 32px;
  width: 142px;
  height: 56px;
  padding-top: 16px;
  padding-left: 8px;
  margin-right: 8px;
}

.links > *:hover {
  text-decoration: underline;
}

.main {
  border: 16px solid;
  border-image: url("/border-main.png") 12 fill;
  padding: 8px 8px;
  margin: 0 4px;
  min-height: 500px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.main a {
  color: #3deaff;
  white-space: nowrap;
}

.main a:hover {
  text-decoration: underline;
}
