.banner {
  width: 100%;
  display: flex;
  background: url("/banner.png");
  flex-direction: row;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  background-position: 50% 0;
  justify-content: center;
  z-index: -1;
}

.layout {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.navbar {
  font-family: client-bold;
  font-size: 20px;
  text-shadow: 2px 2px #21738c;
  color: white;
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-width: none;
  user-select: none;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
}

.links > * {
  background-image: url("/folder.png");
  font-size: 32px;
  width: 142px;
  height: 56px;
  padding-top: 16px;
  padding-left: 8px;
  margin-right: 8px;
}

.links > *:hover {
  text-decoration: underline;
}

.main {
  border: 20px solid;
  border-image: url("/border-main.png") 10 fill;
  padding: 8px 8px;
  margin: 0 8px;
  min-height: 500px;

  /* seems to force the browser to calculate height for children using percentages */
  /* pretty broken */
  height: fit-content;
  margin-bottom: 16px;
}

.main a {
  color: #52ff39;
  /* color: #ffd532; */
  /* color: #40C0E0 */
  white-space: nowrap;
}

.main a:hover {
  text-decoration: underline;
}
