.control_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12px;
  gap: 8px;
}

.upload {
  margin-left: auto;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.left_arrow {
  margin-right: auto;
}

.uploader_section {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
